

.userLBody {
    width: 95%;
    max-width: 900px;
    border-radius: 6px;
    /* height: 150px; */
    padding: 20px;
    background-color: var(--grayMain);
    border: solid 1px var(--graySecond);
    margin: auto;
    margin-bottom: 20px;
}